* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.top {
  width: 100%;
  height: 30px;
  background: #f2f2f2;
  font-size: 12px;
  color: #666666;
  line-height: 30px;
}
.top .top_right {
  float: right;
  margin-right: 115px;
}
.top .top_right ul li {
  float: left;
  margin: 0 15px;
  display: block;
}
.top .top_right .h {
  cursor: pointer;
}

.mlogo {
  width: 100%;
  height: 130px;
}
.mlogo .img1 {
  float: left;
  margin-left: 115px;
  margin-top: 30px;
}
.mlogo .ts {
  width: 490px;
  height: 40px;
  float: left;
  margin-left: 295px;
  margin-top: 50px;
}
.mlogo .ts .txt {
  width: 390px;
  height: 30px;
  border: solid 2px #fa4a98;
  float: left;
  outline: none;
}
.mlogo .ts .sub {
  width: 90px;
  height: 30px;
  float: left;
  border: 2px solid #fa4a98;
  text-align: center;
  line-height: 30px;
  color: #fff3e3;
  background: #fa4488;
  cursor: pointer;
}
.mlogo .mlogo_r {
  float: right;
  margin-right: 140px;
  margin-top: 50px;
  cursor: pointer;
}
.mlogo .mlogo_r img {
  float: left;
}
.mlogo .mlogo_r p {
  display: block;
  float: left;
  width: 105px;
  height: 32px;
  border: 1px solid #e5e5e5;
  border-left: 0px;
  font-size: 12px;
  color: #4f4f4f;
  text-align: center;
  line-height: 32px;
}

.nav {
  height: 50px;
  width: 100%;
  background: #ff3893;
}
.nav .select {
  width: 230px;
  height: 56px;
  background: #fc3c96;
  float: left;
  position: absolute;
  left: 115px;
  top: 157px;
  font-size: 20px;
  color: #ffffff;
  line-height: 56px;
  padding-left: 22px;
  cursor: pointer;
  z-index: 2;
}
.nav .classify ul {
  display: block;
  margin-left: 367px;
}
.nav .classify ul li {
  display: block;
  width: 100px;
  height: 50px;
  float: left;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  cursor: pointer;
}

.nav_bar {
  position: absolute;
  left: 115px;
  top: 208px;
}
.nav_bar .bar_left {
  width: 240px;
  height: 611px;
  background: #fffdfe;
  padding-left: 12px;
}
.nav_bar .bar_left dl {
  width: 196px;
  height: 70px;
  border-bottom: dashed 2px #d1d1d1;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}
.nav_bar .bar_left .q {
  border-bottom: none;
}
.nav_bar .bar_left dt {
  font-size: 13px;
  color: #fb60ba;
  margin-top: 5px;
  margin-bottom: 5px;
}
.nav_bar .bar_left dd {
  font-size: 11px;
  color: #666666;
  float: left;
  line-height: 23px;
  margin-right: 7px;
}
.nav_bar .bar_right {
  width: 590px;
  height: 611px;
  background: #fffdfe;
  position: absolute;
  top: 5px;
  left: 230px;
  display: none;
}
.nav_bar .bar_right .ll {
  width: 210px;
  height: 611px;
  float: left;
  padding-left: 40px;
  padding-right: 30px;
}
.nav_bar .bar_right .ll div {
  margin-top: 20px;
}
.nav_bar .bar_right .rr {
  width: 210px;
  height: 611px;
  float: left;
  padding-left: 50px;
}
.nav_bar .bar_right .rr div {
  margin-top: 20px;
}
.nav_bar .bar_right h3 {
  font-size: 14px;
  margin-bottom: 10px;
}
.nav_bar .bar_right ul {
  margin-top: 10px;
}
.nav_bar .bar_right ul li {
  font-size: 12px;
  color: #666666;
  display: block;
  line-height: 20px;
}

.scroll_left {
  position: absolute;
  top: 430px;
}

/*# sourceMappingURL=style.css.map */
